version: '3.8'

services:
  db:
    image: postgres:13
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: airarabia
      POSTGRES_DB: number_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL","pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build: .
    restart: always
    environment:
      DATABASE_URL: postgresql://postgres:airarabia@db/number_db
    ports:
      - "8000:8000"
    depends_on:
      - db

volumes:
  postgres_data:


